body {
  margin: 5rem;
  height: 100%;
  text-align: center;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-areas:
    "logo header header header header"
    "nav nav nav nav nav"
    "sidebar main main main main";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  border: 1px solid #000;
}

.logo {
  grid-area: logo;
  background-color: #ffcc99;
  padding: 10px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.logo img {
  height: 5rem;
  width: 5rem;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 50%;
}

.website {
  grid-area: header;
  background-color: #ffcc99;
  padding: 10px;
  border-bottom: 1px solid #000;
  font-weight: 600;
  font-size: x-large;
}

nav {
  grid-area: nav;
  background-color: #ffe6cc;
  border-bottom: 1px solid #000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

nav ul li {
  border-right: 1px solid #000;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.sidebar {
  grid-area: sidebar;
  background-color: #fff2e6;
  border-right: 1px solid #000;
  display: flex;
  font-weight: 600;
  font-size: large;
  flex-direction: column;
  justify-content: center;
}

input {
  border: 3px solid black;
}

.submit,
.reset {
  background-color: rgb(245, 195, 137);
  padding: 0.5rem;
  border-radius: 0.8rem;
  font-weight: 600;
  margin-right: 0.5rem;
}

.info,
.home {
  grid-area: main;
  height: 100%;
  width: 100%;
}

.home-page,
.login-page,
.registration-page,
.catalogue-page,
.cart-page {
  display: none;
}

.home-page {
  display: block;
}

#home:target,
#login:target,
#registration:target,
#catalogue:target,
#cart:target {
  width: 100%;
  background-color: white;
  display: block;
}

.catalogue-item {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.catalogue-item img {
  width: 100px;
  height: auto;
  margin: 1rem 2rem;
}

.book-info {
  text-align: left;
  margin-left: 5rem;
  padding-right: 2rem;
}

.price{
  font-weight: 600;
}

.add-to-cart {
  cursor: pointer;
  width: 200px;
  border-radius: 0.8rem;
  background-color: #f4b562;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.2rem;
  margin-right: 6px;
}

button i{
  border: 2px solid rgb(5, 28, 58);
  background-color: #61e6f5;
  border-radius: 50%;
  padding: 0.4rem;
  margin-right: 1.3rem;
}
